<%- include('../_shared/header', {title: 'Please reset your password', page:
'restore-password', domain: domain }); %>
<!-- Email Body -->
<div class="email-body">
  <!-- Body content -->
  <div class="content-cell content-color">
    <h1>Beste, <%= username %></h1>
    <p class="text" style="margin-bottom: 0">
      Volg de link en reset uw wachtwoord:
    </p>
    <a
      class="budget-link text"
      href="<%= domain %>/reset-password/<%= resetHash %>"
      ><%= domain %>/setup-password/<%= resetHash %></a
    >
  </div>
</div>
<%- include('../_shared/footer'); %>
