<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>My Second Company | <%= title %></title>
    <style>
      *:not(br):not(tr):not(html) {
        font-family: 'Gill Sans', sans-serif;
        box-sizing: border-box;
      }

      body {
        width: 100% !important;
        height: 100%;
        margin: 0;
        line-height: 1.4;
        color: #74787e;
        -webkit-text-size-adjust: none;
      }

      p,
      ul,
      ol,
      blockquote {
        line-height: 1.4;
        text-align: left;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      a.emphasised__link {
        font-weight: 600;
        color: #ffffff;
      }

      a img {
        border: none;
      }

      td {
        word-break: break-word;
      }

      /* Layout ------------------------------ */

      .email-wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
        -premailer-width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        display: flex;
        justify-content: center;
      }

      .email-content {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        -premailer-width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
      }

      /* Masthead ----------------------- */

      .email-masthead {
        display: flex;
        justify-content: center;
        padding: 35px 0;
      }

      .email-masthead_name {
        font-size: 26px;
        font-weight: 500;
        color: white;
        text-decoration: none;
        text-shadow: 0 1px 0 white;
      }
      .header-divider {
        margin-left: 24px;
        margin-right: 24px;
        background-color: #26263B;
        height: 1px;
      }

      /* Body ------------------------------ */

      .email-body {
        width: 100%;
        margin: 0;
        padding: 0;
        -premailer-width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        color: #000000;
      }

      .email-body_inner {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        color: #000000;
      }

      .email-footer {
        width: 100%;
        margin: 36px auto;
        padding: 0;
        -premailer-width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        text-align: center;
        background-color: #26263B;
      }

      .footer-info {
        font-size: 16px;
        color: #ffffff;
      }

      .email-banner-img {
        width: 100%;
        height: 220px;
        border-radius: 2px;
        object-fit: cover;
      }

      .body-action {
        width: 100%;
        margin: 30px auto;
        padding: 0;
        -premailer-width: 100%;
        -premailer-cellpadding: 0;
        -premailer-cellspacing: 0;
        text-align: center;
      }

      .content-cell {
        padding: 26px;
      }

      .preheader {
        display: none !important;
        visibility: hidden;
        mso-hide: all;
        font-size: 1px;
        line-height: 1px;
        max-height: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
      }

      h1 {
        margin-top: 0;
        font-size: 26px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 5px;
      }

      p {
        margin-top: 0;
        font-size: 22px;
        line-height: 1.5em;
        text-align: left;
      }

      .left {
        text-align: left;
      }

      .right {
        text-align: right;
      }

      p.sub {
        font-size: 12px;
      }

      p.center {
        text-align: center;
      }

      .cart tr th {
        padding: 8px;
        font-weight: 700;
        border: 1px solid #e7e7e7;
        background: #ebebeb;
      }

      .cart tr td {
        border: 1px solid #e7e7e7;
        padding: 8px;
      }

      .total-table {
        margin-top: 22px;
      }

      .total-table tr td {
        margin-bottom: 8px;
      }

      .user-info-table {
        margin: 15px 0;
        margin-left: -1px;
        padding: 0;
        border: 0;
        border-spacing: 0;
      }

      .user-info-table tr {
        vertical-align: top;
      }

      .user-info-table tr td {
        height: 30px;
      }

      .user-info-table tr td:first-child {
        width: 140px;
      }

      .logo {
        height: 40px;
        margin-left: 15px;
      }

      .logo-line {
        display: flex;
        text-decoration: none;
        align-items: center;
        margin: auto;
      }

      .logo-title {
        color:#27263b;
        font-weight: 600;
        font-size: 32px;
        margin-left: 8px;
      }

      #card {
        width: 100%;
        margin: 8px 0;
      }

      .hide__details__arrow .details__arrow {
        display: none;
      }

      .card-container {
        display: flex;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 0px;
        border-radius: 14px;
        padding: 26px;
        background-color: #26263B;
      }

      .customer-card .customer-card-container {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
      }

      .customer-card .customer-card-container img {
        width: 20px;
        height: 20px;
      }

      .customer-card .customer-card-container .title {
        font-size: 20px;
        color: #ffffff;
        font-weight: bold;
        margin: 0;
      }

      .customer-card .customer-card-container .remain-block {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }

      .customer-card .customer-card-container .remain-block .label {
        color: #57566d;
        font-size: 18px;
        font-weight: 500;
      }

      .customer-card .customer-card-container .remain-block .value {
        color: #ffffff;
        font-size: 20px;
        margin-left: 10px;
        font-weight: 500;
      }

      .budget-link {
        text-decoration: underline;
        color: #bd112a;
      }

      .login-button-container {
        display: flex;
        justify-content: center;
      }

      .login-button {
        color: #ffffff;
        background-color: #26263B;
        padding: 12px 42px;
        font-size: 22px;
        border-radius: 2px;
        border: none;
        margin: auto;
      }

      .text {
        font-size: 22px;
      }

      .red-text {
        color: #bd112a;
      }

      .content-color {
        color: #4C575F
      }
      
      @media only screen and (max-width: 400px) {
        .logo-title {
          font-size: 24px;
        }

        .text {
          font-size: 16px;
        }

        p {
          font-size: 16px;
        }

        .login-button {
          font-size: 16px;
        }

        .email-banner-img {
          height: 160px
        }
      }
    </style>
  </head>
  <body>
    <span class="preheader">My Second Company | <%= title %></span>
    <div class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
      <div
        class="email-content"
        width="100%"
        cellpadding="0"
        cellspacing="0"
      >
        <div class="email-masthead">
          <a href="<%= domain %>" class="logo-line">
            <img
              class="logo"
              src="<%= domain %>/assets/sc-logo-only.jpg"
              alt="Second Company"
            />
            <div class="logo-title">Second Company</div>
          </a>
        </div>
      </div>
    </div>
    <div class="header-divider"></div>
    <div>
      <div class="content-cell">
        <img
          class="email-banner-img"
          src="<%= domain %>/assets/email-banner.jpg"
          alt="Second Company"
        />
      </div>
    </div>
  </body>
</html>
