<%- include('../_shared/header', {title: 'Nieuw Budget', page: 'new-budget', domain: domain }); %>
<!-- Email Body -->

<div class="email-body">
  <!-- Body content -->
  <div class="content-cell content-color">
    <h1 >Beste, <%= username %></h1>
    <p class="text">U bent toegevoegd aan een nieuw budget, klik op de link om te gaan
      <a href="<%= domain %>/budgets/<%= budgetId %>" class="budget-link">
        <%= budgetName %>
      </a>
    </p>
    
    <div class="login-button-container">
      <a href="<%= domain %>" class="login-button">Login</a>
    </div>
  </div>
</div>
<%- include('../_shared/footer'); %>
