<%- include('../_shared/header', {title: 'Nieuw Project', page: 'new-budget', domain: domain }); %>
<!-- Email Body -->
<div class="email-body">
  <div class="content-cell content-color">
    <h1>Beste, <%= username %></h1>
    <p class="text">U bent verwijderd uit het volgende budget:</p>
    <p class="text red-text">
      <%= budgetName%>
    </p>
    <div class="login-button-container">
      <a href="<%= domain %>" class="login-button">Login</a>
    </div>
  </div>
</div>
<%- include('../_shared/footer'); %>
