<%- include('../_shared/header', {title: 'Welkom', page: 'new-budget', domain:
domain }); %>
<!-- Email Body -->
<div class="email-body">
    <!-- Body content -->
  <div class="content-cell content-color">
    <h1>Beste, <%= username %></h1>
    <p class="text" style="margin-bottom: 0">
      Rapport voor afgelopen maand gereed, klik op de link om te zien:
    </p>
    <a
      class="budget-link"
      href="<%= domain %>"
      >Ga naar het platform</a
    >
    <div class="login-button-container">
      <a href="<%= domain %>" class="login-button">Login</a>
    </div>
  </div>
</div>
<%- include('../_shared/footer'); %>
